flow.json
[
    {
        "id": "7c2d1f75.0b7d7",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "16463a1f.6b419e",
        "type": "tab",
        "label": "Network",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ceae3988.5459a8",
        "type": "tab",
        "label": "Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd01a3a6.a2e16",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "58491be5.8d7d64",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "192.168.10.31",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "85387208.a3e47",
        "type": "position-config",
        "name": "Limassol geoposition",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12",
        "contextStore": ""
    },
    {
        "id": "75df61de.784228",
        "type": "MySQLdatabase",
        "name": "",
        "host": "68.183.222.243",
        "port": "3306",
        "db": "zigbee2mqtt",
        "tz": "",
        "charset": ""
    },
    {
        "id": "2b2169f0.713e86",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hallway on",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.78732720ecfabc55eb12",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1020,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3b9f698a.3b3f26",
        "type": "mqtt in",
        "z": "7c2d1f75.0b7d7",
        "name": "Occupancy",
        "topic": "+/0x00158d000460a607",
        "qos": "2",
        "datatype": "auto",
        "broker": "58491be5.8d7d64",
        "inputs": 0,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "3da246ef.21e3da"
            ]
        ]
    },
    {
        "id": "3b7ace57.3d1432",
        "type": "switch",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "property": "payload.contact",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "3da246ef.21e3da"
            ],
            [
                "d07c8b1a.448288"
            ]
        ]
    },
    {
        "id": "d5394f8b.5f8a9",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hallway off",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.78732720ecfabc55eb12",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1010,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "777fcb33.00fc24",
        "type": "json",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "3b7ace57.3d1432"
            ]
        ]
    },
    {
        "id": "2a091111.75800e",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.hue_color_lamp_1, light.hue_color_lamp_2, light.hue_color_lamp_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 494,
        "wires": [
            []
        ]
    },
    {
        "id": "d07c8b1a.448288",
        "type": "within-time-switch",
        "z": "7c2d1f75.0b7d7",
        "name": "When it's dark",
        "positionConfig": "85387208.a3e47",
        "startTime": "goldenHourDuskEnd",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "goldenHourDawnStart",
        "endTimeType": "pdsTime",
        "endOffset": "",
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeRestrictions": "",
        "timeRestrictionsType": "none",
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeOnlyOddWeeks": false,
        "timeOnlyEvenWeeks": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "withinTimeValue": "",
        "withinTimeValueType": "msgInput",
        "outOfTimeValue": "",
        "outOfTimeValueType": "msgInput",
        "tsCompare": "0",
        "x": 760,
        "y": 500,
        "wires": [
            [
                "2b2169f0.713e86",
                "2a091111.75800e"
            ],
            []
        ]
    },
    {
        "id": "acb019f8.903378",
        "type": "mqtt in",
        "z": "7c2d1f75.0b7d7",
        "name": "Door",
        "topic": "+/0x00158d00053043bc",
        "qos": "2",
        "datatype": "auto",
        "broker": "58491be5.8d7d64",
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "777fcb33.00fc24"
            ]
        ]
    },
    {
        "id": "3da246ef.21e3da",
        "type": "delay",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "d5394f8b.5f8a9"
            ]
        ]
    },
    {
        "id": "5a514997.2c6ab8",
        "type": "ha-zone",
        "z": "7c2d1f75.0b7d7",
        "name": "Leave home",
        "server": "fd01a3a6.a2e16",
        "version": 0,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entities": [
            "device_tracker.gm1903"
        ],
        "event": "leave",
        "zones": [
            "zone.limassol_home"
        ],
        "x": 150,
        "y": 260,
        "wires": [
            [
                "541ab792.801f58"
            ]
        ]
    },
    {
        "id": "c6a1ad42.de81f",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue all: off",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.hue_color_lamp_1, light.hue_color_lamp_2, light.hue_color_lamp_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "541ab792.801f58",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "Tuya off",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.bathroom, switch.corridor, switch.hallway",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "18d9220b.74123e",
        "type": "mqtt in",
        "z": "7c2d1f75.0b7d7",
        "name": "Magic Cube",
        "topic": "+/0x00158d0005881208",
        "qos": "2",
        "datatype": "auto",
        "broker": "58491be5.8d7d64",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "a4574b88.9f83d8"
            ]
        ]
    },
    {
        "id": "45f171e7.14a84",
        "type": "switch",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "flip90",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flip180",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rotate_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rotate_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tap",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 450,
        "y": 680,
        "wires": [
            [
                "a8f1e384.ae10e"
            ],
            [
                "c6a1ad42.de81f"
            ],
            [
                "1d368e0d.6223f2"
            ],
            [
                "b75be7c8.34e0f8"
            ],
            [
                "1f2ecb3c.8ebac5"
            ]
        ]
    },
    {
        "id": "a4574b88.9f83d8",
        "type": "json",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "45f171e7.14a84"
            ]
        ]
    },
    {
        "id": "a8f1e384.ae10e",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue all: on",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.hue_color_lamp_1, light.hue_color_lamp_2, light.hue_color_lamp_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1d368e0d.6223f2",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue 1: cyan",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.hue_color_lamp_1",
        "data": "{\"hs_color\":[195.413,42.745]}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 760,
        "wires": [
            [
                "b468752b.998808"
            ]
        ]
    },
    {
        "id": "b468752b.998808",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue 2: purple",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.hue_color_lamp_2",
        "data": "{\"hs_color\":[284.86,83.922]}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 760,
        "wires": [
            [
                "e18b12f9.df8cb"
            ]
        ]
    },
    {
        "id": "e18b12f9.df8cb",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue 3: blue",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.hue_color_lamp_3",
        "data": "{\"hs_color\":[255,100]}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b75be7c8.34e0f8",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue all: warm",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.hue_color_lamp_1, light.hue_color_lamp_2, light.hue_color_lamp_3",
        "data": "{\"hs_color\":[44.727,43.137]}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "1f2ecb3c.8ebac5",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hallway off",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.78732720ecfabc55eb12",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 960,
        "wires": [
            [
                "1926d853.8a4978"
            ]
        ]
    },
    {
        "id": "1926d853.8a4978",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "hue all: off",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.hue_color_lamp_1, light.hue_color_lamp_2, light.hue_color_lamp_3",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 910,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8d2b1c.54fed4",
        "type": "ha-fire-event",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "server": "fd01a3a6.a2e16",
        "version": 0,
        "event": "",
        "data": "",
        "dataType": "json",
        "x": 310,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "ade4f4eb.78eac8",
        "type": "ha-entity",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "server": "fd01a3a6.a2e16",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 330,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "f0ecb245.191ca",
        "type": "api-current-state",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "server": "fd01a3a6.a2e16",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.bathroom",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 390,
        "y": 1160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "137d589d.d6e3b7",
        "type": "inject",
        "z": "7c2d1f75.0b7d7",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "f0ecb245.191ca",
                "4eb9015b.027b9"
            ]
        ]
    },
    {
        "id": "4eb9015b.027b9",
        "type": "api-current-state",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "server": "fd01a3a6.a2e16",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.corridor",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 380,
        "y": 1200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5492f013.587b5",
        "type": "function",
        "z": "7c2d1f75.0b7d7",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "eaddd455.c402a8",
        "type": "api-call-service",
        "z": "7c2d1f75.0b7d7",
        "name": "bathroom off",
        "server": "fd01a3a6.a2e16",
        "version": 3,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "692fcf1f.2c8908",
        "type": "exec",
        "z": "16463a1f.6b419e",
        "command": "speedtest-cli",
        "addpay": false,
        "append": "--json",
        "useSpawn": "false",
        "timer": "45",
        "oldrc": false,
        "name": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "3a528c32.d9882c"
            ],
            [],
            []
        ]
    },
    {
        "id": "28286d5e.f036ca",
        "type": "inject",
        "z": "16463a1f.6b419e",
        "name": "",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "692fcf1f.2c8908"
            ]
        ]
    },
    {
        "id": "3a528c32.d9882c",
        "type": "json",
        "z": "16463a1f.6b419e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 355,
        "y": 100,
        "wires": [
            [
                "e0727311.a0da48"
            ]
        ],
        "l": false
    },
    {
        "id": "e0727311.a0da48",
        "type": "function",
        "z": "16463a1f.6b419e",
        "name": "form Json",
        "func": "var ping = Math.round(msg.payload.ping);\nvar download = Math.round(msg.payload.download / 1024/1024 * 10) / 10;\nvar upload = Math.round(msg.payload.upload / 1024/1024 * 10) / 10;\n\nvar json = '{';\njson += '\"ping\":' + ping + ',';\njson += '\"down\":' + download + ',';\njson += '\"up\":' + upload;\njson += '}';\n\nmsg.payload = json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "a02e50d4.2a8838"
            ]
        ]
    },
    {
        "id": "a02e50d4.2a8838",
        "type": "function",
        "z": "16463a1f.6b419e",
        "name": "Sql Insert",
        "func": "var location = 'Limassol';\nvar device = 'InternetSpeed';\nvar json = msg.payload;\n\nvar query = \n\"INSERT INTO Debug_Data (Location, Device, raw_json) VALUES ('\" + location + \"', '\" + device + \"', '\" + json + \"');\"\n\n\n\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "c64e431d.a1bbf"
            ]
        ]
    },
    {
        "id": "c64e431d.a1bbf",
        "type": "mysql",
        "z": "16463a1f.6b419e",
        "mydb": "75df61de.784228",
        "name": "database",
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "31f25540.8d15aa",
        "type": "debug",
        "z": "16463a1f.6b419e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "98ed9a17.07dbf8",
        "type": "inject",
        "z": "16463a1f.6b419e",
        "name": "",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "252b3c3.77d1ac4"
            ]
        ]
    },
    {
        "id": "252b3c3.77d1ac4",
        "type": "exec",
        "z": "16463a1f.6b419e",
        "command": "sudo nmap -sn 192.168.0.0/24 | awk '/Nmap scan report for/{printf $5;}/MAC Address:/{print \"|\"substr($0, index($0,$3)) }' | sort",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "scan subnet",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "50260b1b.131f6c"
            ],
            [],
            []
        ]
    },
    {
        "id": "50260b1b.131f6c",
        "type": "function",
        "z": "16463a1f.6b419e",
        "name": "Subnet Devices Array",
        "func": "let response = msg.payload.split('\\n');\nlet found = []\nlet device\nresponse.forEach ( line => {\n    if ( line.indexOf('|') > -1 ){\n        device = {\n            ip : line.split('|')[0],\n            mac: line.split('|')[1].split(' ')[0],\n            brand: line.split('|')[1].split(' ')[1]\n        }\n        found.push ( device )\n    }\n})\nmsg.payload = found;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "209198e4.5921c8"
            ]
        ]
    },
    {
        "id": "ab8934bb.168038",
        "type": "debug",
        "z": "16463a1f.6b419e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 700,
        "wires": []
    },
    {
        "id": "a73970ec.272448",
        "type": "mysql",
        "z": "16463a1f.6b419e",
        "mydb": "75df61de.784228",
        "name": "database",
        "x": 320,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "209198e4.5921c8",
        "type": "function",
        "z": "16463a1f.6b419e",
        "name": "Sql Insert",
        "func": "var location = 'Limassol';\nvar devices = msg.payload;\n\nvar query = \n\"INSERT INTO NetworkDevicesLog (Location, MAC, IP) VALUES \"\n\ndevices.forEach(function(device){\n  query += \"('\"+location+\"','\"+device.mac+\"','\"+device.ip+\"'),\";\n});\n\nquery = query.replace(/.$/,\";\");\n\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "ab8934bb.168038",
                "a73970ec.272448"
            ]
        ]
    },
    {
        "id": "d53884b0.76c73",
        "type": "json",
        "z": "ceae3988.5459a8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "71403e72.e2b458",
                "798912f6.f0ea7c"
            ]
        ]
    },
    {
        "id": "71403e72.e2b458",
        "type": "function",
        "z": "ceae3988.5459a8",
        "name": "Sql Insert",
        "func": "var query = \"INSERT INTO Xiaomi_Temperature_Sensors (Location, Device, Temperature, LinkQuality, Humidity, Pressure, Battery, Voltage) VALUES (\";\n\nvar topic = msg.topic.split(\"/\");\nquery += \"'\" + topic[0] + \"', '\" + topic[1] + \"', \";\n\nvar values = [\n    msg.payload.temperature,\n    msg.payload.linkquality,\n    msg.payload.humidity,\n    msg.payload.pressure,\n    msg.payload.battery,\n    msg.payload.voltage];\n\nfor (var i = 0; i<values.length; i++){\n  if (values[i] !== undefined)\n    query += values[i] + \",\";\n  else \n    query += \"null,\";\n}\n\n// Remove the last comma\nquery = query.slice(0, -1);\n\nquery += \")\";\n\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "4078e361.c9e614",
                "798912f6.f0ea7c"
            ]
        ]
    },
    {
        "id": "4078e361.c9e614",
        "type": "mysql",
        "z": "ceae3988.5459a8",
        "mydb": "75df61de.784228",
        "name": "database",
        "x": 700,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "502e909.6a391f",
        "type": "mqtt in",
        "z": "ceae3988.5459a8",
        "name": "d65e",
        "topic": "+/0x00158d0002c8ef30",
        "qos": "2",
        "datatype": "auto",
        "broker": "58491be5.8d7d64",
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "d53884b0.76c73"
            ]
        ]
    },
    {
        "id": "739b9bfd.24330c",
        "type": "mqtt in",
        "z": "ceae3988.5459a8",
        "name": "cae5",
        "topic": "+/0x00158d0002c9cae5",
        "qos": "2",
        "datatype": "auto",
        "broker": "58491be5.8d7d64",
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "d53884b0.76c73"
            ]
        ]
    },
    {
        "id": "798912f6.f0ea7c",
        "type": "debug",
        "z": "ceae3988.5459a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 260,
        "wires": []
    }
]